// ラインアニメーション in skills
// #count_1
#count_1 .line--active::before {
  width: 75%;
}
// #count_2
#count_2 .line--active::before {
  width: 60%;
}
// #count_3
#count_3 .line--active::before {
  width: 85%;
}
// #count_4
#count_4 .line--active::before {
  width: 15%;
}
// #count_5
#count_5 .line--active::before {
  width: 50%;
}
// #count_6
#count_6 .line--active::before {
  width: 90%;
}
// #count_7
#count_7 .line--active::before {
  width: 30%;
}
// #count_8
#count_8 .line--active::before {
  width: 70%;
}
// #count_9
#count_9 .line--active::before {
  width: 65%;
}
// #count_10
#count_10 .line--active::before {
  width: 30%;
}
