@use "../foundation/"as fnd;

#about .listPC__item {
  &:first-of-type {
    position: relative;
    font-weight: bold;

    &::before, &::after {
      position: absolute;
      content: '';
      width: 2px;
      height: 22px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: fnd.$orange;
    }
    &::before {
      left: 10px;
    }
    &::after {
      right: 10px;
    }
  }
}

#about .spMenu .list__item:first-of-type {
  color: fnd.$orange;
  font-weight: bold;
}

#about,
#facility {

  // ファーストビュー
  .fv {
    width: 100vw;
    height: 460px;

    &__img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%;

    }
  }

  .detail {
    margin: 100px auto 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    @include fnd.mq('tab') {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 50px;
    }

    .about__title {
      @include fnd.mq('tab') {
        @include fnd.h2('ABOUT');

      }

    }

    .personal__title {
      @include fnd.mq('tab') {
        @include fnd.h2('MENU');
        margin-top: 0 !important
      }
    }

    &__title {
      font-size: 2.5rem;
      position: relative;
      color: fnd.$orange;
      text-align: left;
      font-weight: bold;
      margin-bottom: 35px;

      @include fnd.mq('tab') {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
      }



      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        top: 140%;
        left: 0;
        background-color: fnd.$orange;

        @include fnd.mq('tab') {
          display: none;

        }

      }
    }


    &__text {
      text-align: left;
      line-height: 2.2;
      letter-spacing: .1em;

      @include fnd.mq('pc') {
        font-size: 1.4rem;
      }

    }

    &__content {
      width: 48%;

      @include fnd.mq('tab') {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
      }

    }

    &__photo {
      position: relative;
      width: 45%;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-box-shadow: inset 0 0 5px 5px fnd.$dark-gray;
        box-shadow: inset 0 0 5px 5px fnd.$dark-gray;
      }

      @include fnd.mq('tab') {
        display: none;
      }
    }

    .spOnly {
      position: relative;
      margin-bottom: 20px;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-box-shadow: inset 0 0 5px 5px fnd.$dark-gray;
        box-shadow: inset 0 0 5px 5px fnd.$dark-gray;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  .shop {
    @include fnd.mq('tab') {
      max-width: 400px;
    }

    &__title {
      font-size: 2.5rem;
      position: relative;
      color: fnd.$orange;
      text-align: left;
      font-weight: bold;
      margin-bottom: 70px;

      @include fnd.mq('tab') {
        @include fnd.h2('FACILITY');
        text-align: center;
        font-size: 2.5rem;
      }

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        top: 140%;
        left: 0;
        background-color: fnd.$orange;

        @include fnd.mq('tab') {
          display: none;

        }

      }
    }

    &__wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 60px;

      &:first-of-type .shop__photo {
        width: 70%;
        max-width: 200px;
      }

      &:last-of-type .shop__photo {
        width: 52%;
        max-width: 200px;
      }
    }

    &__photo {
      margin-right: 50px;

      @include fnd.mq('tab') {
        // width: 100%;
      }

      @include fnd.mq('tab') {
        display: none;
      }

    }

    &__img {
      width: 100%;
      height: 100%;

    }

    &__content {
      text-align: left;
    }

    &__name {
      color: fnd.$orange;
      margin-bottom: 20px;

      @include fnd.mq('tab') {
        margin-top: 40px;
      }

    }

    &__text {
      text-align: left;
      line-height: 2.2;
      letter-spacing: .1em;
      font-size: 1.4rem;

      @include fnd.mq('pc') {
        font-size: 1.2rem;
      }

    }

    &__info {
      font-size: 1.2rem;
      margin-top: 20px;
      font-style: italic;
    }

  }
}